{% extends 'iincorewebBundle::layout.html.twig' %}



{% block body %}
    {{ parent() }}

<div class="container" style="padding-top: 80px">


    <div class="pg-opt pin">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2>Our Services</h2>
                </div>


            </div>
        </div>
    </div>


    <div class="main">
        <ul class="cbp_tmtimeline">
            <li>
                <h2>Ideation </br> Phase</h2>
                <div class="cbp_tmicon cbp_tmicon-phone"></div>
                <div class="cbp_tmlabel">
                    <h2>Idea Prototyping</h2>
                    <p>
                        Mock it Up - Lets bring your ideas to life. The best way to convey ones idea is to prototype it. With technology evolving day in and day out, presenting ideas in the most innovative but yet  in a disruptive way is the key.


                        We empower you by building prototypes of your Idea right from storyboarding , designing and to a working demoable solution.
                    </p>
                </div>
            </li>
            <li>


                <div class="cbp_tmlabel">
                    <h2>Technology Consulting & Solution Design</h2>
                    <p>
                        The Next Big Thing : Once the prototype is build and are convinced to take it to the NEXT level, you need to understand  technology stack to build your solution to be highly scalable, highly reliable and concretely secure product.

                        We carry with us immense experience having worked on Cloud Computing, Virtualization, Datacenter management, Big data etc. We monitor and integrate new proven tools and frameworks  by consulting on Technology and the Solution Design so that our customers utilize and leverage the most innovative technologies keeping the upfront investment low while meeting all your business objectives.

                    </p>
                </div>
            </li>
            <li>
                <h2 style="color:#01C08B">Incubation &</br> Collaboration </br> Phase</h2>
                <div class="cbp_tmicon cbp_tmicon-phone"></div>
                <div class="cbp_tmlabel">
                    <h2>Product Lifecycle Management</h2>
                    <p>
                        Mock it Up - Bring your ideas to life. The best way to convey one's idea is to show it working. With technology evolving day in and day out, presenting ideas in the most innovative but yet  in a disruptive way is the key..
                        <br>
                        We empower you by building prototypes of your Idea right from storyboarding , designing and to a working demoable solution.
                    </p>
                </div>
            </li>
            <li>


                <div class="cbp_tmlabel">
                    <h2>Enterprise Technology & Platform Solutions</h2>
                    <p> Cloud Computing,
                        BigData,
                        No SQL - Cassendra, MongoDB,

                        Apache Storm

                        <br>


                    </p>
                </div>
            </li>

            <li>


                <div class="cbp_tmlabel">
                    <h2>Web Platform Management</h2>
                    <p>
                        You believe that your  product will provide value to end users. You need to educate end users of  the value proposition and how the product can benefit them and help them get the best of the product.
                        </br>
                        We help you build web marketing sites, that can enable you to educate the users, build the social connect with your customers . We have a team who are well equipped and understand the Human computer interactions, information architecture and UI/UX with in depth knowledge in varied web technologies </p>
                </div>
            </li>

            <li>


                <div class="cbp_tmlabel">
                    <h2>Mobile Development</h2>
                    <p>
                        Being Connected is the key in todays business. Mobile plays a crucial role today in every business. Almost everyone today owns a smartphone  and building that stickiness by having  users connect to your product all the time can boost the business exponentially.
                        <br>
                         We help you bridge the gap between the user and the product by building user friendly mobile applications that will not only keep the users connected from anywhere / anytime but also  engaged.  </p>
                </div>
            </li>


            <li>
                <h2 style="color:#00A2B8">Realization </br> Phase</h2>
                <div class="cbp_tmicon cbp_tmicon-phone"></div>
                <div class="cbp_tmlabel">
                    <h2>Quality Assurance Outsourcing</h2>
                    <p>
                        Delivering a Quality product is the most defining value in every software product. And for every start up it is even more important to have quality product out there. The turn around time in a start up agile development is swift as the code is churned at a fast pace. We at IINCORE understand this very significance and provide quality assurance services to our clients which is very different from the normal process
                    </p>
                </div>
            </li>
            <li>


                <div class="cbp_tmlabel">
                    <h2>Maintainance & 24/7 Support</h2>
                    <p>

                    </p>
                </div>
            </li>

        </ul>
    </div>
</div>
{% endblock %}

{%block footer %}
{{ parent() }}}
{% endblock %}